@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>🧾Formulario de Jugador de Futbol</h1>
    <form asp-controller="Formulario" asp-action="Formulario" method="post">
        
    </form>
    <br>
    <h4>@ViewData["Resultado"]</h4>
</div>
